<h1>Frequently Asked Questions</h1>

<div class="container">
    <p>
        Q: How long would it take for my order to arrive?<br>
        A: It wil usually take between 5-7 business days for standard shipping. <br>
        <br>
        Q: Will I be able to refund my book if it wasn't the right one?<br>
        A: We allow refunds up to 30 days with everything that came along with the book intact.<br>
        <br>
        Q: How do I check the status of my order?<br>
        A: You would have to go to Account > Orders > Track Order to see the status of your order and where it is located.<br>
        <br>
        Q: What if I can't find the book I'm looking for? <br>
        A: Shoot us an email! We will order a book for you but it may take a little longer for you to recieve it
        in the mail due to us having to find the book for your needs. <br>
        <br>
    </p>
</div>
