<nav id="menu1" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><i class="fas fa-user-circle"></i> {{ status }}</a>
                </li>
                <li class="nav-item" id="cart" *ngIf="isLoggedin">
                    <a routerLink="" (click)="signOut()" style="width:100px;"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
                <!-- Cart -->
                <li class="nav-item" id="cart">
                    <a routerLink="/cart"><i class="fas fa-cart-plus"></i> My Cart</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin">
                    <a routerLink="/admin"><i class="fas fa-user-secret"></i> Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Logo -->
<div id="logo">
    <a routerLink="/books"><img src="../../assets/logo.png"/>I Book U</a>
</div>

<nav id="menu2" class="navbar navbar-expand-lg navbar-default">
    <div class="collapse navbar-collapse justify-content-md-center" id="menu">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/books"><button>Products</button></a>
            </li>

            <li class="nav-item">
                <a routerLink="/contact"><button>Contact Us</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="/faq"><button>FAQs</button></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <app-book-search></app-book-search>
</div>
