@import url('https://fonts.googleapis.com/css?family=Cute+Font');

#menu1 .navbar-nav > li > a  {
    padding-top:5px !important;
    padding-bottom:0 !important;
    height: 30px;
}
#menu1 .navbar-nav > li {
    float: none;
    display: inline-block;
    letter-spacing: 1px;
}
#menu1 .navbar-nav {
    width: 100%;
}
#menu1 {
    min-height: 10px !important;
}
#menu1 .navbar-collapse {
    text-align: center;
    margin: 0 auto;
}

#logo {
    margin-top: 1%;
    margin-bottom: -1%;
    text-align: center;
    font-family: 'Cute Font', cursive;
    font-size: 65pt;
    height: 150px;
}
#logo a {
    color: #494848;
}
#menu2 {
    border-top: none;
    background-color: white;
}
#menu2 .navbar-nav {
    width: 100%;
}
#menu2 .navbar-nav li {
    float: none;
    display: inline-block;
    text-transform: uppercase;
}
#menu2 .navbar-collapse {
    text-align: center;
    margin: 0 auto;
}
#menu2 .navbar-nav li a {
    padding-bottom: 0;
}
ul {
    list-style: none;
}
div > a {
    text-decoration: none;
}
a {
    text-decoration: none;
}

button {
    letter-spacing: 5px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
}
button:after {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: MediumTurquoise;
}
button:hover {
    cursor: pointer;
}
button:hover:after {
    width: 100%;
    left: 0;
}
