<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <form action="mailto:Support@iBooku.com"
  method="POST"
  enctype="multipart/form-data"
  name="EmailTestForm">
    <h1>Send us your questions or comments</h1>
    <div *ngIf="!submitted">
        <label for="fname">Your Name</label><br>
        <input type="text" id="yname" name="name" placeholder="Your name.."><br>
    	<label for="fname">Your Email</label><br>
        <input type="text" id="yemail" name="email" placeholder="Your email.."><br>
        <label for="subject">Subject</label><br>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <button class="btn" (click)="submitMessage()">Submit</button>
    </div>

    <div *ngIf="submitted" class="success">Thank you for your feedback! We will get back to you as soon as possible!</div>
  </form>
</div>
