<div class="container">
    Have an account?
    <a class="Switch to login" routerLink="/login">Log in</a>

<div id="Signup">
    <h2 class="title">
        Sign up
    </h2>

    <form>
        <fieldset>
            <input placeholder="First Name" type="text" name="First Name" id="First Name" required/>
            <br>
            <input placeholder="Last Name" type="text" name="Last Name" id="Last Name" required/>
            <br>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" type="email" placeholder="Email" name="Email" id="Email" required/>
            <br>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" type="email" placeholder="Confirm email" name="Email Confirmation" id="Email Confirmation" required/>
            <br>
            <input type="Password" name="Password" id="Password" placeholder="Password" required/>
            <br>
            <input type="Password" name="Password Confirmation" id="Password Confirmation" placeholder="Confirm Password" required/>
            <br>
            <input type="submit" name="commit" value="Create account" class="bttn bttn-green bttn-medium w100p submit" data-disable-with="Create account" />
            <p class="terms f6 grey-dark mt2 center border-box clip">
                By signing up, you agree to our terms of use, privacy policy and cookie policy.
            </p>
        </fieldset>
    </form>
    </div>
