<div class="container">
    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let item of cart.items; let i = index">
            <td>
                <img src="{{ item.image }}"/>
                <div>
                    <h5>{{ item.title }}</h5>
                    <i>by {{ item.author }}</i>
                </div>
            </td>
            <td>${{ item.unitPrice }}</td>
            <td>
                <input type="text" [(ngModel)]="item.quantity" (keyup)="updatePrice(i)" #quantity/>
            </td>
            <td>${{item.total}}</td>
        </tr>
        <tr>
            <td colspan="2">Subtotal:</td>
            <td>${{ cart.subtotal }}</td>
        </tr>
    </table>
    <a routerLink="/checkout"><button>Proceed to checkout</button></a>
</div>
