<div class="container">
<div>
        <button type="button"
                class="btn btn-info"
                [attr.aria-expanded]="!isCollapse"
                aria-controls="cart"
                (click)="toggle()">
            <span><i class="{{ toggleIcon }}"></i></span> Payment Method
        </button>
        
        <div id="cart" [ngbCollapse]="isCollapse">
            <app-payment></app-payment>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let item of cart.items; let i = index">
            <td>
                <img src="{{ item.image }}"/>
                <div>
                    <h5>{{ item.title }}</h5>
                    <i>by {{ item.author }}</i>
                </div>
            </td>
            <td>${{ item.unitPrice }}</td>
            <td>
                <input type="text" [(ngModel)]="item.quantity" (keyup)="updatePrice(i)" #quantity/>
            </td>
            <td>${{item.total}}</td>
        </tr>
        <tr>
            <td colspan="2">Subtotal:</td>
            <td>${{ cart.subtotal }}</td>
        </tr>
    </table>
    <!-- Jeff - changed from
    <a routerLink="/checkout"><button>Proceed to checkout</button></a>
   -->
    <button (click)="submitOrder()">Checkout</button>
<div *ngIf="ordered" class="success">Your books have been ordered!</div>
</div>
