<h1>
  Payment Method
</h1>
<p>

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="First name" placeholder="First name" required><br>

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="name" placeholder="Last Name" required><br>

    <label for="address">Your Address</label>
    <input type="text" id="addy" name="name" placeholder="Full Address" required><br>

    <label for="fname">Credit Card Number</label>
    <input type="text" id="ccn" name="ccNumber" placeholder="Card Number" required><br>

    <label for="edate">Expiration Date</label>
    <input type="text" id="edate" name="expirationdate" placeholder="Expiration Date" required><br>

    <label for="">Security Code</label>
    <input type="text" id="code" name="securitycode" placeholder="Security Code" required><br>

    <label for="fname">Phone Number</label>
    <input type="text" id="pnumber" name="pnumber" placeholder="Phone Number"><br>

    <input type="button" value="Submit">
</p>
